body{
	background: #21252c;
	background-color: #21252c;
	padding:0px;
	margin:0px;
	background-image: none;
	/* width:100vw;  */
	/* height: 100vh;  */

	background-position: center 40px;
	/* background-repeat: none; */
	/* -webkit-background-size: 50% auto; */
	/* -moz-background-size: 50% auto; */
	/* background-size: 50% auto; */
	/* -o-background-size: 50% auto; */

	background-size: 750px 470px;
	/* background-position: bottom right; */
	background-repeat: no-repeat;
	/* background-repeat: repeat-y; */
	/* background-position: 500px 50px; */
}

.indicatorMenu {
	position: absolute;
	margin-left: -304px;
}

.open_indicator {
	position: absolute;
	padding: 2px 8px;
	border-radius: 3px;
	border: none;
	background: #2e3e52;
	cursor: pointer!Important;
	height: 32px;
	left: 54px;
}

.indicator_content {
	position: relative;
	visibility: hidden;
	left: -228px;
}

.indicator_period {
	padding:5px;
	font-size: 19px;
	background: #2e3e52;
	color: #fff;
	border: none;
	width:26px;
	border-radius: 2px;
	text-align:center;
}

.indicator_type {
	padding:5px;
	font-size: 18px;
	background: #2e3e52;
	color: #fff;
	border: none;
	width:80px;
	border-radius: 2px;
}

.indicator_method {
	padding:5px;
	font-size: 18px;
	background: #2e3e52;
	color: #fff;
	border: none;
	width:100px;
	border-radius: 2px;
}

.indicator_color {
	background: #2e3e52;
	border: none;
	position: absolute;
	margin-left: 4px;
	border-radius: 2px;
	height: 32px;
}

.indicator_add {
	position: absolute;
	padding: 2px 8px;
	border-radius: 2px;
	margin-left: 58px;
	border: none;
	background: #2e3e52;
	height: 32px;
	cursor: pointer!Important;
}

.average_list {
	position: absolute;
	left: -206px;
	top: 33px;
}

.text_average_list {
	font-size: 15px;
}

.average_list_delete {
	background: #2e3e52;
}

.indicator_content input::-webkit-outer-spin-button,
.indicator_content input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.average_list_delete:hover {
	background: #1e3046;
}

.open_indicator:hover {
	background: #1e3046;
}

.indicator_add:hover {
	background: #1e3046;
}

.moving-element {
	will-change: transform;
}

.hiden {
	color:#00ffff;
}

.numberv {
	width: 40px;
}

.divinp{
	position:absolute;
	z-index: 101;
	top:0px;
	right:0px;
}
.select{
	padding:5px;
	font-size: 18px;
	background: #2e3e52;
	color: #fff;
	border: none;
	width:200px;
	border-radius: 2px;
}

.selectt{
	padding:5px;
	font-size: 18px;
	background: #2e3e52;
	color: #fff;
	border: none;
	width:100px;
	border-radius: 2px;
}

.selecttc{
	padding:5px;
	font-size: 18px;
	background: #2e3e52;
	color: #fff;
	border: none;
	width:100px;
	border-radius: 2px;
}

.selecttt{
	position: absolute;
	padding:5px;
	font-size: 18px;
	background: #2e3e52;
	color: #fff;
	border: none;
	width:100px;
	border-radius: 2px;
	left: -313px;
}

#period{
	width: 90px;
}

#position {
	width: 40px;
}

#vh {
	width: 40px;
}

#resolutionw {
	width: 50px;
}

#resolutionh {
	width: 50px;
}

#Strelki_On{
	position:absolute;
	top:-200px;
	width: 300px;
}
.close_1 {
	color: #fff;
	position:absolute;
	top:465px;
	left:50px;
}
.str_green {
	position:absolute;
	top:315px;
	/* left:0px; */
}
.str_red {
	position:absolute;
	top:490px;
}
#Menu{
	font-size: 18px;
	color: #fff;
	width: 200px;
	/* font-family: Roboto,"sans-serif",Arial; */
}

#Volume{
	font-size: 18px;
	color: #fff;
	width: 200px;
	/* font-family: Roboto,"sans-serif",Arial; */
}

#Performance{
	font-size: 18px;
	color: #fff;
	width: 200px;
	/* font-family: Roboto,"sans-serif",Arial; */
}

a {
	color:#00ffff;
	text-decoration:none
}

a:active {
	color:#00ffff;
	text-decoration:none
}

a:visited {
	color:#87ceeb;
	text-decoration:none
}

a:hover {
	color:#ffd800;
	text-decoration: underline
}

.selectdiv{
	padding:0px;
	position:absolute;
	top:0px;
	right:313px;
}
.sel{
	text-indent: 8px;
	padding: 5px 0px 5px 22px;
	cursor:pointer!Important;
	font-family: Roboto,"sans-serif",Arial;
	height: 22px;
}
.sels{
	padding: 5px 0px 5px 22px;
}
.sel:hover{
	background: #1e3046;
}
.divscrol{
	position:relative;
	width:200px;
	max-height: 80vh;
	overflow-x: hidden;
	overflow-y: auto;
	display:none;
}
.imgsel {
	position: absolute;
	margin-top: 1px;
	left: 6px;
}

.preload{
	position:fixed;
	transition: opacity 1s;
	z-index: 100;
	top:0px;
	left:0px;
	opacity: 0.5;
	display:block;
	width:100vw;
	height:100vh;
	background:url(../img/pre.gif) #424151 no-repeat;
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	-o-background-size: 100% auto;
}
